<template>
  <div class="flex">
    <div class="form-control">
      <h1>Log in</h1>
      <form ref="form" v-on:submit.prevent="onSubmit">
        <label class="form-group" for="username">username</label>
        <div>
          <input
            class="form-group"
            v-model="username"
            type="text"
            name="username"
            id="username"
            required="true"
          />
        </div>
        <div>
          <label class="form-group" for="password">password</label>
          <div>
            <input
              class="form-group"
              v-model="password"
              type="password"
              name="password"
              id="password"
              required="true"
            />
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      username: "",
      password: "",
    };
  },

  methods: {
    onSubmit: async function () {
      const username = this.username;
      const password = this.password;
      const header = {
        "Content-Type": "application/json",
      };
      await fetch("http://localhost:8081/login", {
        method: "POST",
        headers: header,
        body: JSON.stringify({
          username: username,
          password: password,
        }).toString(),
      })
        .then((resp) => {
          this.username = "";
          this.password = "";
          return console.log(resp);
        })
        .catch((err) => {
          return alert(err);
        });
    },
  },
};
</script>
