<template>
  <div class="flex">
    <div class="form-control">
      <h1>Register</h1>
      <form ref="form" v-on:submit.prevent="onSubmit">
        <label class="form-group" for="username">Username</label>

        <div>
          <input
            class="form-group"
            type="text"
            required="true"
            name="username"
            id="username"
            v-model="username"
          />
          <div>
            <label class="form-group" for="password">Password</label>
          </div>
          <div>
            <input
              class="form-group"
              type="password"
              required="true"
              name="password"
              id="password"
              v-model="password"
            />
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</template>
<script charset="utf-8">
export default {
  data: function () {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    /**
     * Submits data to backend api
     * via fetch
     */
    onSubmit: async function () {
      const username = this.username;
      const password = this.password;
      const header = {
        "Content-Type": "application/json",
      };

      // Make POST request using fetch
      await fetch("http://localhost:8081/register", {
        method: "POST",
        headers: header,
        body: JSON.stringify({
          username: username,
          password: password,
        }),
      })
        .then((resp) => {
          this.username = "";
          this.password = "";
          return console.log(resp);
        })
        .catch((err) => {
          return alert(`Problem sending request to server: ${err}`);
        });
    },
  },
};
</script>
