<template>
  <div class="flex">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <router-link class="nav-link navbar-brand" to="/">Home</router-link>
      <router-link class="nav-link" to="/about">About</router-link>
      <router-link class="nav-link" to="/register">Register</router-link>
      <router-link class="nav-link" to="/login">Log in</router-link>
    </nav>
    <router-view />
  </div>
</template>
